In [27]:
import pandas as pd
import os
from pathlib import Path
from tqdm.auto import tqdm
import numpy as np

In [2]:
datapath = Path('/root/llm_quant_safety/data/hotpotqa/responses/')

In [4]:
sorted(os.listdir(datapath))

['.ipynb_checkpoints',
 'llama_abl.csv',
 'llama_abl_sample_50.csv',
 'llama_abl_with_context_lists.csv',
 'llama_aqlm.csv',
 'llama_awq.csv',
 'llama_fp16.csv',
 'llama_quick.csv',
 'mistral_aqlm.csv',
 'mistral_awq.csv',
 'mistral_fp16.csv',
 'mistral_quick.csv',
 'parts']

# vllm

In [5]:
files = [
    'llama_abl.csv',
    'llama_aqlm.csv',
    'llama_awq.csv',
    'llama_fp16.csv',
    'llama_quick.csv',
    'mistral_aqlm.csv',
    'mistral_awq.csv',
    'mistral_fp16.csv',
    'mistral_quick.csv',
]

In [10]:
dfs = []
for file in files:
    filename, fileext = file.split('.')
    model, method = filename.split('_')
    tmp = pd.read_csv(datapath/file)
    tmp['model'] = model
    tmp['method'] = method
    dfs.append(tmp[['_id','model', 'method', 'llm_responses']])

df = pd.concat(dfs)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66645 entries, 0 to 7404
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id            66645 non-null  object
 1   model          66645 non-null  object
 2   method         66645 non-null  object
 3   llm_responses  66645 non-null  object
dtypes: object(4)
memory usage: 2.5+ MB

In [12]:
df.sample(10)

,_id,model,method,llm_responses
2977,5ab8cd3d5542991b5579f009,llama,aqlm,"Peter Gifford's rock band, Midnight Oil, chang..."
53,5a87c13f5542996e4f30890c,llama,abl,I think I can help you with that!\n\nAccording...
3645,5abea7c25542990832d3a068,llama,fp16,The State Theatre is part of the Arts Centre M...
188,5ab271fe554299449642c8a6,mistral,fp16,"Yes, The Importance of Being Icelandic is a d..."
5908,5a75441c55429916b01642cf,llama,aqlm,"15 Penn Plaza will have more floors, with 68 f..."
5856,5a7455eb55429979e2882908,llama,quick,The 1999 Galtür avalanche happened first.
2056,5a905f2a55429933b8a204fb,llama,abl,"No, they do not have the same nationality. Kat..."
5356,5a87c0945542996e4f30890b,llama,abl,"No, Portland International Airport (PDX) is lo..."
6431,5ab4355555429942dd415ee3,llama,aqlm,"The novella ""Eyes Wide Shut"" was based on ""Tra..."
7328,5ae2b794554299495565db10,llama,abl,I've found the answer!\n\nAccording to the inf...

In [13]:
df.groupby(['model', 'method']).size()

model    method
llama    abl       7405
         aqlm      7405
         awq       7405
         fp16      7405
         quick     7405
mistral  aqlm      7405
         awq       7405
         fp16      7405
         quick     7405
dtype: int64

# quip

In [14]:
datapath = Path('/root/llm_quant_safety/data/hotpotqa/responses/parts')

In [15]:
sorted(os.listdir(datapath))

['.ipynb_checkpoints',
 'llama_quip2_p0.csv',
 'llama_quip2_p1.csv',
 'llama_quip2_p2.csv',
 'llama_quip2_p3.csv',
 'llama_quip4_p0.csv',
 'llama_quip4_p1.csv',
 'llama_quip4_p2.csv',
 'mistral_quip2_p0.csv',
 'mistral_quip2_p1.csv',
 'mistral_quip2_p2.csv',
 'mistral_quip4_p0.csv',
 'mistral_quip4_p1.csv',
 'mistral_quip4_p2.csv']

In [34]:
dfs = []
for file in sorted(os.listdir(datapath)):
    if '.csv' in file:
        filename, fileext = file.split('.')
        model, method, part = filename.split('_')
        tmp = pd.read_csv(datapath/file)
        tmp['model'] = model
        tmp['method'] = method
        dfs.append(tmp[['_id','model', 'method', 'llm_responses']])
    
df_quip = pd.concat(dfs)

In [35]:
df_quip.groupby(['model', 'method']).size()

model    method
llama    quip2     7405
         quip4     7405
mistral  quip2     7405
         quip4     7405
dtype: int64

In [36]:
cdf = pd.concat([df, df_quip])
cdf.groupby(['model', 'method']).size()

model    method
llama    abl       7405
         aqlm      7405
         awq       7405
         fp16      7405
         quick     7405
         quip2     7405
         quip4     7405
mistral  aqlm      7405
         awq       7405
         fp16      7405
         quick     7405
         quip2     7405
         quip4     7405
dtype: int64

In [37]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96265 entries, 0 to 1888
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id            96265 non-null  object
 1   model          96265 non-null  object
 2   method         96265 non-null  object
 3   llm_responses  96265 non-null  object
dtypes: object(4)
memory usage: 3.7+ MB

In [38]:
cdf.groupby(['model', 'method'])._id.apply(lambda gr: gr.nunique())

model    method
llama    abl       7405
         aqlm      7405
         awq       7405
         fp16      7405
         quick     7405
         quip2     6001
         quip4     7405
mistral  aqlm      7405
         awq       7405
         fp16      7405
         quick     7405
         quip2     7405
         quip4     7405
Name: _id, dtype: int64

# Fix llama quip2

In [39]:
llama_q2 = cdf[(cdf.model=='llama')&(cdf.method=='quip2')]
quip2_id_scored = llama_q2._id.unique()
len(quip2_id_scored)

6001

In [40]:
unique_ids = cdf._id.unique()
len(unique_ids)

7405

In [42]:
quip2_id_unscored = set(unique_ids) - set(quip2_id_scored)
len(quip2_id_unscored)

1404

In [43]:
hotpot = pd.read_csv('/root/llm_quant_safety/data/hotpotqa/hotpot_dev_distractor_v1.csv')
hotpot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7405 entries, 0 to 7404
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               7405 non-null   object
 1   answer            7405 non-null   object
 2   question          7405 non-null   object
 3   supporting_facts  7405 non-null   object
 4   context           7405 non-null   object
 5   type              7405 non-null   object
 6   level             7405 non-null   object
dtypes: object(7)
memory usage: 405.1+ KB

In [44]:
subset = hotpot[hotpot._id.isin(quip2_id_unscored)]
subset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1404 entries, 1879 to 7399
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               1404 non-null   object
 1   answer            1404 non-null   object
 2   question          1404 non-null   object
 3   supporting_facts  1404 non-null   object
 4   context           1404 non-null   object
 5   type              1404 non-null   object
 6   level             1404 non-null   object
dtypes: object(7)
memory usage: 87.8+ KB

In [45]:
subset.to_csv('/root/llm_quant_safety/data/hotpotqa/parts/llama_quip2_unscored.csv')

# Read fixed

In [46]:
dfs = []
for file in sorted(os.listdir(datapath)):
    if '.csv' in file:
        filename, fileext = file.split('.')
        model, method, part = filename.split('_')
        tmp = pd.read_csv(datapath/file)
        tmp['model'] = model
        tmp['method'] = method
        dfs.append(tmp[['_id','model', 'method', 'llm_responses']])
    
df_quip = pd.concat(dfs)

In [47]:
df_quip.groupby(['model', 'method']).size()

model    method
llama    quip2     8809
         quip4     7405
mistral  quip2     7405
         quip4     7405
dtype: int64

In [49]:
df_quip.drop_duplicates(['_id', 'model', 'method']).groupby(['model', 'method']).size()

model    method
llama    quip2     7405
         quip4     7405
mistral  quip2     7405
         quip4     7405
dtype: int64

In [50]:
cdf = pd.concat([df, df_quip.drop_duplicates(['_id', 'model', 'method'])])
cdf.groupby(['model', 'method']).size()

model    method
llama    abl       7405
         aqlm      7405
         awq       7405
         fp16      7405
         quick     7405
         quip2     7405
         quip4     7405
mistral  aqlm      7405
         awq       7405
         fp16      7405
         quick     7405
         quip2     7405
         quip4     7405
dtype: int64

In [51]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96265 entries, 0 to 1888
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id            96265 non-null  object
 1   model          96265 non-null  object
 2   method         96265 non-null  object
 3   llm_responses  96265 non-null  object
dtypes: object(4)
memory usage: 3.7+ MB

In [52]:
cdf.groupby(['model', 'method'])._id.apply(lambda gr: gr.nunique())

model    method
llama    abl       7405
         aqlm      7405
         awq       7405
         fp16      7405
         quick     7405
         quip2     7405
         quip4     7405
mistral  aqlm      7405
         awq       7405
         fp16      7405
         quick     7405
         quip2     7405
         quip4     7405
Name: _id, dtype: int64

In [53]:
cdf.to_csv('/root/llm_quant_safety/data/hotpotqa/responses/united_responses.csv', index=False)